@font-face {
    font-family: roboto_slab;
    src: url(../content/fonts/roboto_slab/RobotoSlab-Regular.ttf);
}

h1 {
    font-family: roboto_slab
    text-align: center;
}

h2{
    text-align: center;
}
