
<!DOCTYPE = HTML>
<html>
<head>
    <link href="../css/libs/bootstrap.css" rel="stylesheet">
    <script src="../js/libs/jquery-2.2.4.js"></script>
    <script src="../js/libs/bootstrap.js"></script>
    <script src="../js/controllers/imageHover.js"></script>

    <link href="../css/index.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Basically Differant</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a> </li>
                <li>
                    <a href="#">
                        Purchase
                    </a>
                </li>
                <li>
                    <a href="#">
                        Cycoda
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-lg-6 center-block">
            <img src="../content/images/logo header.jpg" class="img-responsive" width="100%">
        </div>
        <div class="container " id="test">
            <div class="jumbotron bd_column1">
                <h1>
                    Laying the foundation to enquire into the world
                </h1>
                <p>
                    The senses are the windows to the world. Treated with respect, they are capacities through which we develop strong faculties. This stunning alphabet set and delightful book of poems reinforce early childhood learning and extends vocabulary, while encouraging and developing the comprehension of art and literature in a fun and exciting way.
                </p>
            </div>
            <div class="jumbotron bd_column2">
                <h1>
                    Foster the senses and make the most of life!
                </h1>
                <p>
                    26 beautiful alphabet cards together with a book of poems fire all sorts of synapses in the brain, stimulating imagination.
                </p>
            </div>
            <div class="jumbotron bd_column3">
                <p>
                    The set includes beautiful paintings of the things in our world that our children can point to, or see and describe.
                </p>
            </div>
            <div class="jumbotron bd_column4">
                <h1>
                    To hear a child describe a butterfly as a 'fluttering rainbow',
                </h1>
                <img src="../content/images/tile butterfly.jpg" class="center-block img-responsive" id="bd_imageTileButtefly" onmouseenter="changeOverlayStatus('bd_imagePoemButterfly',true)" onmouseleave="changeOverlayStatus('bd_imagePoemButterfly',false)">
                <img src="../content/images/poem butterfly.jpg" class="center-block img-responsive" id="bd_imagePoemButterfly">
            </div>
        </div>
    </div>
</body>
</html>