#t_container{
    width: 50%;
    height: 50%;
    position: relative;
}
#t_lower{
    width: 100%;
    height: 100%;
    z-index: 3;
}
#t_upper{
    top: 0;
    left: 0;
    height: auto;
    position: absolute;
    opacity: 0.5;
    z-index: 2;
    visibility: hidden;
}
#t_upper img{
    width: 100%;
}

.t_upper2{
    top: 0;
    left: 0;
    height: auto;
    position: absolute;
    opacity: 0;
    z-index: 3;
}
.t_upper2 img{
    width: 100%;
}