#t_container{
    width: 50%;
    height: 50%;
    position: relative;
}
#t_lower{
    top: 0;
    left: 0;
    max-height: 500px;
    position: absolute;
    z-index: 1;
}
#t_lower img{
    max-height: 500px;
}
#t_upper{
    top: 0;
    left: 0;
    max-height: 500px;
    position: absolute;
    opacity: 0.5;
    z-index: 2;
    visibility: hidden;
}
#t_upper img{
    max-height: 500px;
}

.t_upper2{
    top: 0;
    left: 0;
    max-height: 500px;
    position: absolute;
    opacity: 0;
    z-index: 3;
}
.t_upper2 img{
    max-height: 500px;
}